body {
	background: linear-gradient(to top left, #587AA8 3%, #744798 82%);
	font-family: verdana;
	 height: 100%;
         margin: 0;
         background-attachment: fixed;
}
#main {
	position: absolute;
	top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
	width: 750px;
	display: flex;
	overflow: hidden;
	border-radius:10px;
	padding: auto;
	box-shadow: 0 5px 10px rgba(0,0,0,.05), 0 15px 40px rgba(0,0,0,.2);
    -webkit-animation-name: run;
    -webkit-animation-duration: 1s;
    color: black;
} 
#main a {
	color: blue;
	text-decoration: none;
}
@-webkit-keyframes run {
    0% { background-opacity: 0;}
    50% {background-opacity: 0.2;}
    100% {background-opacity: 0.6;}
}
#main .butts {
text-align: center;
background-color: rgba(0, 0, 0, 0.5);
width: 120px;
z-index: -1;
}
#main .butts button {
background-color: #43438F;
color: white;
border: none;
height: 45px;
width: 100px;
margin: 10px;
font-size: 18px;
border-radius: 3px;
}
#main #content {
   display: relative;
   background-color: rgba(255, 255, 255, 0.3);
   width: 700px;
   text-align: center;
}
#main #content h2 {
	text-align: center;
}

@media only screen and (max-width: 768px) {
body {
zoom: 50%
}
#main {
width: 100%;
}
#main .butts {
    width: 100%;
    position: absolute;
}
#main #content {
margin: auto;
margin-top: 75px;
}
}
