body {
	background:  linear-gradient(to top left, #EC1C4B 3%, #A6206A 82%);
	font-family: verdana;
	 height: 100%;
         margin: 0;
         background-attachment: fixed;
}
#main {
	position: absolute;
	top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
	width: auto;
	display: flex;
	overflow: hidden;
	border-radius:13px;
	padding: auto;
	box-shadow: 0 5px 10px rgba(0,0,0,.05), 0 15px 40px rgba(0,0,0,.2);
    -webkit-animation-name: run;
    -webkit-animation-duration: 1s;
} 
#main a {
	color: blue;
	text-decoration: none;
}
@-webkit-keyframes run {
    0% { background-opacity: 0;}
    50% {background-opacity: 0.2;}
    100% {background-opacity: 0.6;}
}
#main .butts {
   width: 100%;
text-align: center;
background-color: rgba(0,0,0,0.4);
z-index: -1;
    position: absolute;
}
#main .butts button {
position: relative;
background-color: #A6206A;
color: white;
border: none;
height: 45px;
width: 100px;
margin: 10px;
font-size: 18px;
border-radius: 3px;
}
#main #content {
   background-color: rgba(175,175,175,0.3);
   width: 700px;
   height: 265px;
   text-align: center;
   vertical-align: middle;
   color: white;
  margin: auto;
margin-top: 73px;
}
#main #content h2 {
	text-align: center;
}

@media only screen and (max-width: 768px) {
body {
zoom: 50%
}
#main {
width: auto;
}
#main .butts {
    width: 100%;
    position: absolute;
}
#main #content {
margin: auto;
margin-top: 75px;
}
}
