body {
  background-color: black;
}
.social {
  background-color: white;
}
.social h1 {
  color: grey;
  background-color: purple;
  font-family: verdana;
  font-weight: bold;
}
.social p {
  color: black;
  font-family: verdana;
}
